<header>
    <nav>
        <a href="#" class="toggle-button">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </a>
        <div class="links">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#">Landen</a></li>
            </ul>
            <ul>
                <li><a href="/aanmelden">Aanmelden</a></li>
                <li><a href="/profile/:name">Profiel</a></li>
                <li><a href="mijnlijst">Mijn lijst</a></li>
            </ul>
        </div>
    </nav>
</header>