<header>
	<nav>
		<a href="#" class="toggle-button">
			<span class="bar"></span>
			<span class="bar"></span>
			<span class="bar"></span>
		</a>
		<div class="links">
			<ul>
				<li><a href="/introduction">Home</a></li>
				<li><a href="/">Landen</a></li>
				<li><a href="/match-me">Match me</a></li>
				<li><a href="/mijnlijst">Mijn lijst</a></li>
			</ul>
			<ul>
				<% if (!user) { %>
				<li><a href="/aanmelden">Inloggen</a></li>
				<% } %> <% if (user) { %>
				<li><a href="/profile">Profiel</a></li>
				<li><a href="/logout">Uitloggen</a></li>
				<% } %>
			</ul>
		</div>
	</nav>
</header>
