<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta
			name="description"
			content="Travel information for 250+ countries world-wide"
		/>
		<meta
			name="keywords"
			content="travel, weather, holiday, currency, vakantie, countries, country"
		/>
		<meta name="author" content="Keisha, Michael, Luc, Sjoerd" />
		<link href="/dist/css/bundle.css" rel="stylesheet" />
		<script src="/dist/js/bundle.js" defer></script>
		<link
			href="https://fonts.googleapis.com/css2?family=Saira:wght@400;700&display=swap"
			rel="stylesheet"
		/>
		<title>NAAM | Reisplanner</title>
	</head>

	<body>
		<%- include('../partials/header.ejs') %>

		<main><%- body %></main>
	</body>
</html>
