<section class="register-container">
	<section>
		<h2>Aanmelden</h2>
		<form action="/aanmelden" method="post">
			<!-- Gebruikersnaam of email invoeren -->
			<fieldset>
				<label for="email">Email</label>
				<input
					type="text"
					name="email"
					id="email"
					placeholder="Gebruikersnaam of wachtwoord"
				/>
			</fieldset>

			<!-- Wachtwoord invoeren -->
			<fieldset>
				<label for="wachtwoord">Wachtwoord</label>
				<input type="password" name="wachtwoord" placeholder="Wachtwoord" />
			</fieldset>

			<fieldset>
				<!-- Wordt ingelogd -->
				<button type="submit">Aanmelden</button>
				<!-- Gaat naar het registreren formulier pagina -->
				<a id="registreren-link" href="/registreren">Nog geen account? Maak hier een account aan.</a>
			</fieldset>
		</form>
	</section>

	<section class="image-container"></section>
</section>
