<section class="register-container">
	<section>
		<h2>Aanmelden</h2>
		<form action="/aanmelden" method="post">
			<!-- Gebruikersnaam of email invoeren -->
			<fieldset>
				<label for="email">Email</label>
				<input
					type="text"
					name="email"
					id="email"
					placeholder="Gebruikersnaam of wachtwoord"
					autocomplete="username"
				/>
			</fieldset>

			<!-- Wachtwoord invoeren -->
			<fieldset>
				<label for="wachtwoord">Wachtwoord</label>
				<input type="password" name="wachtwoord" placeholder="Wachtwoord"  autocomplete="current-password"/>
			</fieldset>

			<fieldset>
				<!-- Gaat naar het registreren formulier pagina -->
				<a href="/registreren">Registreren</a>

				<!-- Wordt ingelogd -->
				<button type="submit">Aanmelden</button>
			</fieldset>
		</form>
	</section>

	<section class="image-container"></section>
</section>

<% if(err) { %>
<article id="toaster">
	<% err.forEach((item) => { %>
	<p>
		<%= item.msg %>
	</p>
	<% }) %>
</article>
<% } %>
