<!DOCTYPE html>
<html lang="en">
<%- include('includes/head'); -%>
  <body>
      <%- include('includes/header'); -%>
      <main>

        <h1 id="country-name"><%= data.name %> </h1>
        <article id="weather-data">

        </article>

      </main>
      <script src="/scripts/weatherAPI.js"></script>
  </body>
</html>