<header class="header-img"></header>
<section class="introduction-page">

  <section class="grid-two-column">
    <h1 class="col-span-2">NAMEEE Reisinfo app</h1>
    <img id="strapi-practical-info-image" src="" alt="">
    <article class="text-container">
      <h3>Praktische info voor op vakantie</h3>
      <p id="strapi-practical-info-text">Loading...</p>
    </article>
  </section>

  <section class="grid-three-column features">
    <h2 class="col-span-3">Features</h2>

  </section>

  <section class="meta-section">
    <h2 class="col-span-2">Developers</h2>

  </section>
</section>