<!DOCTYPE html>
<html lang="en">

<%- include('includes/head'); -%>

<body>
    <%- include('includes/header'); -%>
    <header class="header-img"></header>
    <main class="introduction-page">
      
      <section class="grid-two-column">
        <h1 class="col-span-2">NAMEEE Reisinfo app</h1>
        <img id="strapi-practical-info-image" src="" alt="">
        <article class="text-container">
          <h3>Praktische info voor op vakantie</h3>
          <p id="strapi-practical-info-text">Loading...</p>
        </article>
      </section>

      <section class="grid-three-column features">
        
      </section>

      <section class="meta-section">
       
      </section>
    </main>

    <script src="/scripts/strapi.js"></script>
</body>

</html>