<section class="register-container">
    <section>
        <h2>Registreren</h2>
        <div id="error"></div>
        <form action="/registreren" method="post" id="form">

            <!-- Volledige naam invoeren -->
            <fieldset>
                <label for="voornaam">Jouw naam</label>

                <div class="volledige-naam">
                    <input type="text" name="voornaam" id="voornaam" placeholder="Voornaam">
                    <input type="text" name="achternaam" id="achternaam" placeholder="Achternaam">
                </div>
            </fieldset>

            <!--Gebruikersnaam invoeren -->
            <fieldset>
                <label for="gebruikersnaam">Gebruikersnaam</label>
                <input type="text" name="gebruikersnaam" id="gebruikersnaam" placeholder="Gebruikersnaam">
            </fieldset>

            <!-- Email invoeren -->
            <fieldset>
                <label for="email">Email</label>
                <input type="mail" name="email" id="email" placeholder="Email">
            </fieldset>
            <!-- Wachtwoord invoeren -->
            <fieldset>
                <label for="wachtwoord">Wachtwoord</label>
                <input type="password" name="wachtwoord" id="wachtwoord" placeholder="Wachtwoord">
            </fieldset>



            <fieldset>
                <!-- Gaat naar het aanmeld formulier pagina om in te loggen -->
                <a href="/aanmelden">Aanmelden</a>

                <!-- Wordt geregistreerd -->
                <button type="submit">Registreren</button>
            </fieldset>


        </form>
    </section>

    <section class="image-container">
    </section>
</section>

<% if(err) { %>
<article id="toaster">
    <% err.forEach((item) => { %>
    <p>
         <%= item.msg %>
    </p>
    <% }) %>
</article>
<% } %>

