.register-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
}

.register-container section {
    background-color: white;
}

.register-container .image-container {
    height: 100%;
    width: 100%;
    background-image: url('/images/holliday.jpg');
    background-size: cover;
}

.register-container section:last-of-type {
    background-color: var(--background-color);
    border-radius: 4px;
}

/* Naam van de website */
.register-container h1 {
    margin: 0 4em;
    padding: 1em;
    color: var(--background-color);
    background-color: var(--main-color);
    text-align: center;
}

/* Aanmelden titel */
.register-container h2 {
    font-size: 2em;
    text-align: center;
    padding: 1em;
}

/* Stijling voor het formulier */

.register-container form {
    padding: 5em 5em 10em 5em;
}

.register-container fieldset {
    display: flex;
    flex-direction: column;
    border: none;
    margin-bottom: 3em;
}


.register-container input {
    border: 1px solid var(--main-color);
}

/* Dit zijn de invoervelden */
input[type="text"],
input[type="password"],
input[type="mail"] {
    padding: 1em;
}

.register-container label {
    align-items: center;
    color: var(--secondary-color);
    font-weight: bold;
}

/* Voor de voor- en achternaam input velden */
.register-container .volledige-naam {
    display: flex;
    flex-direction: row;
    gap: 3em;
}

.register-container .volledige-naam input {
    width: 230px;
}

.register-container fieldset:nth-of-type(5) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2em;
}

/* De aanmeld link */
.register-container fieldset:nth-of-type(5) a {
    text-align: center;
    flex-grow: 1;
    padding: 0.8em;
    font-weight: bold;
    color: var(--secondary-color);
    background-color: var(--background-color);
    border: 3px solid var(--secondary-color);
    text-decoration: none;
}

/* registreer button */
.register-container button[type="submit"] {
    flex-grow: 1;
    font-size: 1em;
    padding: 1em;
    font-weight: bold;
    color: var(--background-color);
    background-color: var(--secondary-color);
    border: 3px solid var(--secondary-color);
    text-decoration: none;
}